*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 
    font-family: 'Libre Franklin', sans-serif;

}

.container{
    width: 100%;
    max-width: 1440px;
    background-color: #ffffff;
    height: 100vh;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    margin: 40px 0 25px 0;

}

h1{
    margin: 0 0 10px 0;
    font-weight: 500;
    color: rgb(97, 91, 91);
}
h3{
    font-weight: 300;
}


.email{
    max-width: 400px;
    width: 100%;
    margin: 25px 30px 40px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#hidden{
    display: none;
    position: absolute;
    width: 25rem;
    transform: translate(1rem, 2.5rem);
    color: red;
    font-size: 20px;
}

#input{
    width: 100%;
    max-width: 20rem;
    height: 2.5rem;
    border: 1px solid rgb(83, 80, 80);
    border-radius: 30px;   
    margin-right: 20px;
    padding: 5px 5px 5px 10px;

}
#input:focus{
    outline: none;
}

.place-class::-webkit-input-placeholder {
    color: #cc0101
 }


#submit-btn{
    width: 30%;
    padding: 10px 10px;
    color: #fff;
    border-radius: 30px;
    background-color: hsl(223, 87%, 63%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    cursor: pointer;
}


#submit-btn:focus{
    outline: none;
}

#submit-btn:hover{
    background-color: hsl(223, 73%, 47%); 
}



.main-img{
    max-width: 45rem;
    width: 100%;
}

.main-img img{
    width: 100%;
}



footer{
    max-width: 50rem;
    width: 100%;
    height: 10rem;
    text-align: center;
    margin-bottom: 20px;
    color: blue;
    font-size: 15px;
}

.social a{
    padding: 10px;
    font-size: 30px;
    color: hsl(223, 61%, 48%);
}

.social a:hover{
    color: hsl(223, 68%, 37%);
}

.social{
    margin: 30px 0 30px 0;
}




